<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlHRqGUMoSZL9SbHSAuEO-EI6-PsiI6-U</string>
	<key>GCM_SENDER_ID</key>
	<string>161862955195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alk.p1anes1mull</string>
	<key>PROJECT_ID</key>
	<string>app206-11ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>app206-11ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161862955195:ios:c080b1935bafff83cbf99e</string>
</dict>
</plist>